.buttonStyle {
	height: min-content;
	width: min-content;
	border: solid 2px rgb(49, 159, 232);
	color: rgb(1, 107, 184);
	font-weight: 700;
	border-radius: 5%;
}

.buttonStyle:hover {
	background-color: rgba(1, 107, 184, 0.7);
	color: rgb(254, 201, 114);
	font-weight: 700;
	transition-duration: 300ms;
}
