.navLink {
	height: 100%;
}

.navLink:hover {
	background-color: rgba(1, 107, 184, 0.3);
	transition-duration: 200ms;
}

.activeTab {
	border-bottom: 2px solid rgb(1, 107, 184);
}

.navbar {
	background: linear-gradient(30deg, rgba(1, 107, 184, 0.3) 0, rgba(254, 201, 114, 0.3) 40%, rgba(254, 227, 179, 0.3) 60%, rgba(1, 107, 184, 0.3));
	position: fixed;
	top: 0;
	left: 0;
	transition: top 0.3s;
	width: 1vw;
}
